---
import { Picture } from 'astro:assets';
import { glob } from 'glob';

import Hover from '../../components/markdoc/Hover.astro';
import Link from '../../components/markdoc/Link.astro';
import Layout from '../../layouts/Layout.astro';
import { getSlides } from '../../utils/slides.utils';

import IconLink from '~icons/carbon/presentation-file';

export const title = 'slides';
export const order = 5;

const files = await glob('../slides/pages/[0-9]-*/index.md');
const slides = getSlides(files);
---

<Layout {title}>
  <div class="mb-24 prose max-w-none">
    <h1 class="cursor">_{title}</h1>

    <p class="text-xl">
      Slides for my course <span class="text-accent">Web Engineering II</span> at the University of Applied
      Sciences in Stralsund.
    </p>
    <p>
      Schedule your team&#39;s presentation
      <!-- Calendly link widget begin -->
      <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
      <script
        src="https://assets.calendly.com/assets/external/widget.js"
        type="text/javascript"
        async></script>
      <a
        href=""
        onclick="Calendly.initPopupWidget({url: 'https://calendly.com/benjamin-hp9d/verteidigung-2024?background_color=111422&text_color=d5ced0&primary_color=8766ff'});return false;"
      >
        here
      </a>
      <!-- Calendly link widget end -->
    </p>
  </div>

  <ol class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 animate-stagger-[200ms_+_100ms]">
    {
      slides.map((slide, i) => (
        <li
          class:list={[
            `index-[${i}]`,
            'animate-fade-grow animate-ease-fn-[--overshoot-fn] animate-duration-300',
          ]}
        >
          <Hover href={`/slides/${slide.slug}`} class="flex flex-col gap-2" inset prefetch="tap">
            {slide.background && (
              <div class="not-prose">
                <Picture
                  transition:name={slide.slug}
                  src={
                    import.meta.env.DEV
                      ? '/blog-eslint-warning-1.png'
                      : `/slides/public/${slide.background}`
                  }
                  width={800}
                  height={400}
                  alt=""
                  widths={[250, 400, 800]}
                  sizes="(max-width: 250px) 150px, 400px"
                  formats={['avif', 'webp']}
                  class="w-full rounded"
                />
              </div>
            )}

            <h2 class="!text-xl !leading-tight group-hover:!font-semibold">{slide.title}</h2>

            <p>{slide.info}</p>

            <small class="mt-auto space-x-1 text-base-content/60 group-hover:text-neutral-content/60">
              {slide.order}
            </small>

            <Link groupHover>
              Open
              <IconLink slot="icon" />
            </Link>
          </Hover>
        </li>
      ))
    }
  </ol>
</Layout>
