---
import type { Timeslot } from '../models/timeslot.model';
import Hover from './Hover.astro';
import Link from './Link.astro';

type Props<Tag extends Tagname = Tagname> = {
  tag?: Tagname;
  section: Timeslot;
} & astroHTML.JSX.DefinedIntrinsicElements[Tag];

const { tag = 'li', class: className, section, ...props } = Astro.props;
---

<Hover tag={tag} {...props as any} class:list={[className, 'm-6']} hoverClasses="!bg-base-300">
  <>
    <!-- Caption -->
    <div class="flex flex-start items-center">
      <!-- Bulletpoint -->
      <div class="bg-base-content w-2 h-2 rounded-full -ml-[28.5px] mr-6"></div>
      <p class="text-base-content/60 text-sm my-0">{section.caption}</p>
    </div>

    <!-- Content -->
    <div class="mt-0.5">
      <h4
        class="text-base-content/80 font-semibold text-xl leading-8 mb-1.5 mt-0 transition-all group-hover:text-2xl group-hover:text-base-content dark:group-hover:text-white"
      >
        {section.title}
      </h4>
      <p class="text-base-content/60 last:mb-0 mb-3">{section.description}</p>

      <!-- Tags -->
      <ul class="flex flex-wrap gap-2">
        {
          section.tags.map(item => (
            <li class="badge badge-outline text-base-content/50 group-hover:text-base-content/80 dark:group-hover:text-base-content/80">
              {item}
            </li>
          ))
        }
      </ul>

      <!-- Link -->
      {
        section.link && (
          <Link class="mt-3" groupHover>
            {section.link.label}
          </Link>
        )
      }
    </div>
  </>
</Hover>
