---
import { Picture } from '@astrojs/image/components';
import { getCollection } from 'astro:content';
import readingTime from 'reading-time';

import Link from '../../components/buttons/Link.astro';
import Hover from '../../components/Hover.astro';
import Layout from '../../layouts/Layout.astro';

export const title = 'blog';
export const order = 4;

const blogEntries = await getCollection('blog');

const formatTime = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<Layout title="blog">
  <div class="prose max-w-none mb-8">
    <h1 class="cursor">_{title}</h1>

    <p>
      Officia ut ullamco commodo anim magna minim consectetur ullamco. Exercitation fugiat nulla
      magna nulla id anim do culpa proident do cillum proident dolor incididunt ipsum. Lorem labore
      est ex ex consequat dolor dolore. Commodo reprehenderit amet cillum ad non duis aliqua
      voluptate consectetur duis. Eiusmod velit velit cupidatat mollit esse.
    </p>
  </div>

  <ol class="grid grid-cols-1 gap-8 xs:grid-cols-2 lg:grid-cols-3">
    {
      blogEntries
        .sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
        .map(blog => (
          <li>
            <Hover
              tag="a"
              href={blog.slug}
              hoverClasses="bg-neutral/80 dark:shadow-even dark:shadow-accent/60"
              class="flex flex-col gap-2 p-4 h-full w-full no-underline hover:text-inherit "
            >
              <div class="not-prose">
                <Picture
                  src="/avatar.jpg"
                  alt=""
                  widths={[250, 400]}
                  sizes="(max-width: 250px) 150px, 400px"
                  aspectRatio="16:9"
                  formats={['avif', 'webp', 'jpeg']}
                  class="w-full rounded"
                />
              </div>

              <h2 class="group-hover:text-white text-xl font-bold leading-tight">
                {blog.data.title}
              </h2>

              <p class="group-hover:text-white">{blog.data.summary}</p>

              <small class="space-x-1 mt-auto text-base-content/75 group-hover:text-white/75">
                <time datetime={blog.data.createdAt.toISOString()}>
                  {formatTime.format(blog.data.createdAt)}
                </time>
                <span>•</span>
                <span>{readingTime(blog.body).text}</span>
              </small>

              <Link groupHover>Read More</Link>
            </Hover>
          </li>
        ))
    }
  </ol>
</Layout>
