---
import { type InferGetStaticPropsType } from 'astro';
import { getCollection, render } from 'astro:content';
import readingTime from 'reading-time';

import Layout from '../../layouts/Layout.astro';

import 'victormono';
import '../../assets/prism/tailwind.scss';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content } = await render(entry);

const formatTime = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<Layout title={entry.data.title} prose class="blog-prose">
  <section class="flex justify-center space-x-2">
    <time datetime={entry.data.createdAt.toISOString()}>
      {formatTime.format(entry.data.createdAt)}
    </time>
    <span>•</span>
    {entry.body && <span>{readingTime(entry.body).text}</span>}
  </section>

  <Content frontmatter={entry.data} slug={entry.id} />
</Layout>
