---
import { getCollection, render } from 'astro:content';

import { byDate } from '../../utils/experience.utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const collection = await getCollection('experience');
const sections = await Promise.all(collection.sort(byDate).map(c => render(c)));

const dateFormatter = Intl.DateTimeFormat('en-GB', {
  month: 'short',
  year: 'numeric',
});
---

<ol
  class:list={[
    className,
    'reset-list border-l border-base-content/50 space-y-32 animate-scale-y origin-top animate-duration-500 animate-stagger-[500ms_+_300ms]',
  ]}
>
  {
    sections.map(({ Content }, i) => (
      <li
        transition:persist
        data-date={dateFormatter.format(collection[i].data.date)}
        data-date-raw={collection[i].data.date.getTime()}
        style={`--outer-index: ${i}`}
        class:list={[
          `index-[${i}]`,
          'mt-16 animate-fade-down animate-ease-fn-[--overshoot-fn] animate-duration-300',
        ]}
      >
        <div class="flex items-center ml-8 flex-start">
          <div class="bullet-point" />
          <small class="client">{collection[i].data.caption}</small>
        </div>

        <Content frontmatter={collection[i].data} />
      </li>
    ))
  }
</ol>

<script>
  const getLocalizedDate = () => {
    const items = Array.from(document.querySelectorAll<HTMLElement>('[data-date-raw]'));

    items.forEach(item => {
      if (!item.dataset.dateRaw) return;

      item.dataset.date = Intl.DateTimeFormat(navigator.languages as string[], {
        month: 'short',
        year: 'numeric',
      }).format(new Date(+item.dataset.dateRaw));
    });
  };

  document.addEventListener('astro:beforeload', getLocalizedDate);
  getLocalizedDate();
</script>

<style lang="scss">
  @screen sm {
    li::before {
      content: attr(data-date);
      @apply absolute -left-32 w-28 text-base-content/60 text-sm leading-[1.75] text-end;
    }
  }
</style>

<style lang="scss">
  .bullet-point {
    @apply bg-base-content w-2 h-2 rounded-full ml-[calc(-2.25rem_-_.5px)] mr-6;
  }

  .client {
    @apply text-base-content/60 text-sm my-0 ml-1;
  }
</style>
